{include file="public/questionHead" /}
<body onload="set_select_checked('question_type','多选题')">
<li class="drag-item" value="" style="padding-left: 112px;padding-right: 70px">
    <div class="survey_subject">
        {include file="public/questionCom" /}
        <div class="inputs">
            <ul class="input_coll" id='options' style="margin-left: 38px">
                {volist name="ques.answer" id="vo2"}
                <li> <span class="Hui-iconfont">&#xe6c6;<input name="option" type="text" contenteditable="true"
                                                               value="{$vo2.answer}">
                     <input type="hidden" value="{$vo2.answerId}" name="optionId">
                    <a href="javascript:;" onclick="deleteInput(this)">×</a></span></li>
                {/volist}
            </ul>
            <span class="input-add">新建选项</span>
            <div class="question-logic">
                <div class="logic-container"><span>逻辑设置:</span>
                    <a href="#" onclick='link({$ques.quesId})'>题目关联</a>
                    <a href="#" onclick='link({$ques.quesId})'>跳题逻辑</a>
                </div>
            </div>
            <div class="question_btn">
                <button class="layui-btn layui-btn-primary" type="button" onclick='cancelInfo(this)'>
                    取消
                </button>

                <button type="button" style="text-decoration: none" class="layui-btn layui-btn-normal"
                        onclick='saveInfo(this,{$surId},"{:url('index/question/saveInfo')}","0","0")'>确定
                </button>
            </div>
        </div>
    </div>
</li>
</body>
<script src="/static/index/js/create_ques.js"></script>
</html>