<div id="left-menu" class="left-menu" >
    <div class="list">
        <a href="{:url('index/Statistics/dataView')}" class="item"><span class="item-content"><i class="Hui-iconfont">&#xe6cf;</i><span class="text">回收概况</span> </span></a>
        <a href="{:url('index/Statistics/dataRecycle')}" class="item"><span class="item-content"><i class="Hui-iconfont">&#xe623;</i><span class="text">回收数据</span> </span></a>
        <a href="{:url('index/Statistics/dataChart')}" class="item"><span class="item-content"><i class="Hui-iconfont">&#xe61a;</i><span class="text">统计图表</span> </span></a>
        <a href="{:url('index/Statistics/dataCa')}" class="item"><span class="item-content"><i class="Hui-iconfont">&#xe618;</i><span class="text">交叉分析</span> </span></a>
    </div>
</div>