<div  id="secondHeader">
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-menu collapse navbar-collapse" style="margin-left: -110px">
                <ul class="nav navbar-nav navbar-left">
                    <li style="margin-left: 25px;">
                        <a href="{:url('index/question/create')}" id="" class="navbar-link" style="color: #2f8cdb;">编辑</a><span>|</span></li>
                    <li><a href="#" onclick="layer_show('投放问卷','{:url("index/index/share")}','379','401')" id="1" class="navbar-link" >投放</a><span>|</span></li>
                    <li><a href="{:url('index/Statistics/dataView')}" id="2" class="navbar-link">统计</a><span>|</span></li>
                </ul>
            </div>
        </div>

    </nav>
</div>